---
layout: default
title: Recommended Contractors
---
{% for type in site.data.contractors %}
    <h2>{{ type.category }}</h2>

    <div class="row mb-2">
        {% for contractor in type.contractors %}
            <div class="col-md-6">
                <div class="card mb-1">
                    <h5 class="card-header">
                        {{ contractor.name }}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">{{ contractor.contact }}</p>
                        {% for review in contractor.reviews %}
                            <h5 class="review card-title">{{ review.reviewer }}</h5>
                            <small>Reviewed on {{ review.date }}</small>
                            <p>{{ review.review }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endfor %}